.profile {
    width: 172px;
    height: 200px;
    border-radius: 5px; 
}

body {
        background-image: url("https://images.wallpapersden.com/image/download/elden-ring-hd-age-of-stars_bWduZ2mUmZqaraWkpJRnamtlrWZpaWU.jpg");
        background-size: 100%;
        /* color: rgb(216, 37, 37); */
}

.card {
    /* Add shadows to create the "card" effect */
    float: left;
    width: 9%;
    height: 270px;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 68, 255);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 12px 24px 0 rgb(255, 0, 0);
    scale: 110%;
    transition: 1s;
    
  }

  .container {
    padding: 2px 16px;
    height: 65px;
    background-color: rgb(0, 0, 0);
    color: red;
    border: 5px; 
  }

  .title {
    text-align: center;
    color: white;
  }
  
  
  .title:hover {
    color: red;
    text-shadow:  7px rgb(201, 41, 41),
    0 0 10px rgb(196, 29, 29),
    0 0 21px rgb(198, 31, 31);
    scale: 125%;
    transition: 3s;
  }

  .stats {
    background-color: rgb(245, 239, 239);
    float: right;
    width: 800px;
    margin: 35px;
    padding: 3px 20px;
    text-align: left;
    border-radius: 5px;
    border: 0px;
    left: 50px;
  }

  .large-image{
    width: 400px;
    height: 550px;
    border-radius: 5px;
    float:left;
    margin: 35px;
  }

  .name2{
    text-align: center;
  }

  
