.profile {
    width: 150px;
    height: 200px;
    
}
/* body {
        background-image: url("https://images.wallpapersden.com/image/download/elden-ring-hd-age-of-stars_bWduZ2mUmZqaraWkpJRnamtlrWZpaWU.jpg");
        background-size: 100%;
        color: rgb(216, 37, 37);
} */
.card{
    float: left;
    width: 9%;
}
/* #all::after {
    content: "";
    clear: both;
    display:table;
  } */

